@font-face {
    font-family: myFont;
    src: url(cakes/Cedarville-Cursive.ttf);
}

h1 {
    font-family: myFont;
    color: purple;
}

.logo {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0px;
    right: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 550px;
    width: 900px;
    box-shadow: 15px 15px 20px black;
    margin: auto;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}

.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}

.box {
    padding: 12px;
    width: 75%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

#submit {
    padding: 12px 30px;
    width: 60%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover {
    cursor: pointer;
    background-color: purple;
}

.form a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.form a:hover {
    color: #fd4e4e;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image img {
    width: 450px;
    height: 450px;
}
